<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
</head>

<body>
    {% extends 'base.html' %}
    {% set active = 'mail' %}
    {% block content %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
    {% endfor %}
    <br>
    {% if mails %}
    <table class="row row-cols-1 row-cols-md-4 g-4">
        <tr>
            <th>Sender</th>
            <th>Food</th>
            <th>Message</th>
        </tr>
        {% for mail in mails %}
            <tr>
                <td>Eco Eats</td>
                <td>{{ mail.name }}</td>
                <td>Expires in {{ (mail.expiry_date.date() - date_current).days }} days</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>You have no current mail.</h2>
    {% endif %}
    {% endblock %}
</body>

</html>