<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", type ="text/css", href="../static/landing_page.css">
    <!--Fonts from google APi-->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>Suggestions</title>
</head>
<body class="recipes">
    {% extends 'base.html' %}
    {% set active = 'suggestions' %}
    {% block content %}
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{ category }}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </div>
      {% endfor %}
      <a href="https://www.wholesomeyum.com/category/healthy-recipes/" style="text-decoration: none; color: rgb(0, 255, 179);" target="_blank">
        <span class="recipe-title text-center blurAnimation">Recipes and Tips</span>
      </a>
      <a href="https://cooking.nytimes.com/guides" style="text-decoration: none; color: rgb(0, 255, 179);" target="_blank">
        <span class="recipe-title text-center blurAnimation", style="margin-top: 10%;">Cook Healthy!</span>
      </a>
      <a href="https://www.eventbrite.ca/d/canada--toronto/cooking/" style="text-decoration: none; color: rgb(0, 255, 179);" target="_blank">
        <span class="recipe-title text-center blurAnimation", style="margin-top: 20%;">Events and Connections</span>
      </a>
    {% endblock %}
</body>
</html>